//
   Created by bluedragonfly on 3/9/16.

extends layout

block content
    h1 NEIGHBOURS !
    -for(var k in neighbours)
        p=neighbours[k].last_name
        p=neighbours[k].first_name
        p=neighbours[k].address
        p=neighbours[k].country
        p=neighbours[k].city
        p=neighbours[k].postalCode
        p=neighbours[k].lattitude
        p=neighbours[k].longitude
        p=neighbours[k].email
        p=neighbours[k].region
        p=neighbours[k].available