extends layout

block css
    link(href="stylesheets/style.css" rel="stylesheet")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPl4veoA0UeOp5c71VouLHcZsyvKUwgW8", type='text/javascript')
    script(script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script(type="text/javascript" src="/script/viewprofil.js")
    
    
block content

    div(class="form-signin")
        h2(class="form-signin-heading") Profil
        hr
        div
            div
                div(class="profilleft")
                    div(class="text-center")
                    img(src="" class="avatar img-circle" alt="avatar")
                    input(type="file" class="form-control")
                    label
                        input(type="button" class="btn btn-primary" value="Sauvegarder")
                        span
                        input(type="reset" class="btn btn-default" value="Annuler")
                        br
                        br
                        br
                    div(id="check")
                    
                    label Activer l'aide
                        input(type="checkbox" id="checkbox1")
                        br
                    
                    div(id="help" style="display:none")
                      form(class="form-signin" role="form")
                        label
                        p Type d'aide
                        input(class="form-control" type="text" value="")
                        label
                        p Compétences
                        input(class="form-control" type="text" value="")      
                        label
                        p Description
                        textarea(class="form-control")
                        label
                        p Rayon d'action
                        input(class="form-control" type="text" value="")
                        br

                        input(type="button" class="btn btn-primary" value="Enregistrer")
                        
                    #map(style='height: 400px; width: 500px;')
                        
             
                        
                div(class="profilright")
                    form(class="form-signin" role="form")
                        label
                        p Nom
                        input(class="form-control" type="text" value=profile.last_name disabled="disabled")
                        label
                        p Prénom
                        input(class="form-control" type="text" value=profile.first_name)      
                        label
                        p Adresse
                        input(class="form-control" type="text" value=profile.address)
                        label
                        p Ville
                        input(class="form-control" type="text" value=profile.city)
                        label
                        p Code Postal
                        input(class="form-control" type="text" value=profile.postalCode)
                        label
                        p Email
                        input(class="form-control" type="text" value=profile.email)
                        br
                        
                        label
                        p Lattitude
                        input(class="form-control" type="text" value=profile.lattitude)
                        br
                                                
                        label
                        p Mot de Passe
                        input(class="form-control" type="password" value="password")
                        label
                        p Confirmation de mot de passe
                        input(class="form-control" type="password" value="password")
                        br
                        label
                        input(type="button" class="btn btn-primary" value="Sauvegarder")
                        span
                        input(type="reset" class="btn btn-default" value="Annuler")

    hr

   footer
      p(class="pull-right")
        a(href="#") Retour en haut
      p &copy; 2016 Move Up, Inc. &middot;
        a(href="#") Privacy
        span &middot;
        a(href="#") Terms

block script
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")