extends layout

block content
    p=profile.last_name
    p=profile.first_name
    p=profile.address
    p=profile.country
    p=profile.city
    p=profile.postalCode
    p=profile.lattitude
    p=profile.longitude
    p=profile.email
    p=profile.region

