extends layout

block content
    form(method="POST" action="/register")
        input(type='hidden', name='_csrf', value=_csrf)
        input(type="text" name="last_name" placeholder="First name" value=values.last_name)
        input(type="text" name="first_name" placeholder="Last name" value=values.first_name)
        input(type="email" name="email" placeholder="Email address" value=values.email)
        input(type="password" name="password" placeholder="Password")
        input(type="password" name="passwordConfirm" placeholder="Confirm Password")
        input(type="text" name="address" placeholder="Address" value=values.address)
        input(type="text" name="city" placeholder="City" value=values.city)
        input(type="text" name="postalCode" placeholder="postalCode" value=values.postalCode)
        button(type="submit") Submit
        - if(errors !== undefined)
            - for(var k in errors)
                span=errors[k]